name: Run CI/CD on Main Branch

on:
  push:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (Copying) repositary
        uses: actions/checkout@v4
        
      - name: Build Docker Images
        run: |
          docker compose --profile job up --build

      - name: Start Docker Services
        run: |
          docker compose --profile job up -d --wait

      - name: List Files in Frontend Container
        run: |
          docker compose  --profile job exec -T frontend ls

      - name: Run the tests
        run: |
          docker compose  --profile job exec -T backend pytest

  cd:
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (Copying) repositary
        uses: actions/checkout@v4

      - name: Copying Files to EC2
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          source: "."
          target: "~/app"

      - name: Install Docker
        uses: appleboy/ssh-action@v1.0.1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          script: |
            if ! command -v docker >/dev/null 2>&1; then
              curl -fsSl https://get.docker.com | sudo sh
              sudo apt-get install -y docker-compose-plugin
              sudo usermod -aG docker $USER
            else
              echo "Docker already installed"
            fi

      - name: Run Containers on EC2
        uses: appleboy/ssh-action@v1.0.1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_PORT }}
          script: |
            cd ~/app
            docker compose  --profile job down || true
            docker compose  --profile job up -d --build
